.contact-page {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-panel {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-panel p {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.btn-2 {
  margin-top: 1rem;
  border: 3px black solid;
  background: none;
  color: black;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Poppins", sans-serif;
  padding: 1em 1.5em;
  letter-spacing: 0.05rem;
}

.contact-page .fa {
  font-size: 3rem;
  margin: 1rem;
  color: black;
}
.contact-page .fa:hover {
  color: wheat;
  transition: 0.3s;
}

.btn-2:hover {
  border: 3px wheat solid;
  background-color: black;
  color: wheat;
  transition: 0.3s;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 2px solid black;
  }
}

@media screen and (min-width: 769px) {
  .contact-container {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact-panel {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  hr {
    width: 1px;
    height: 200px;
    border-left: 3px solid black;
  }
}
